.sha-wizard-container {
  margin-bottom: 30px;

  &.vertical {
    display: flex;
    flex-direction: row;
    .ant-steps-vertical {
      width: 150px;
    }

    .sha-steps-content {
      flex: 1;
    }
  }
}
