.ant-menu-item {
  &:hover {
    color: white;
    // background-color: var(--ant-primary-color) !important;
    background-color: @primary-color !important;
  }
}

.ant-menu-submenu {
  &:hover {
    // background-color: var(--ant-primary-color) !important;
    background-color: @primary-color !important;

    a {
      color: white !important;
    }
  }

  &.ant-menu-submenu-selected {
    // background-color: var(--ant-primary-color);
    background-color: @primary-color;
  }
}
